{% if booking_id %}
    I see that you're trying to modify your booking.
    Could you please tell me what changes you would like to make?
    You can change the number of people, date, time, or location.
{% else %}
    I need the booking reference ID to make any changes. 
    Could you please provide the booking ID, or say "I don't have a booking ID" if you don't have one?
{% endif %}
